.App {
  text-align: center;
}
/* *,
**:before,
**:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
} */

.date-input {
  margin-top: 2px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  border: 1px ;
  border-radius: 5px;
  text-color: #560;
  background-color: lightgrey;
  color: blue;
}
.dislay-date {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  /* background-color: lightgrey; */
  color: blue;
  border: 1px ;
  border-radius: 5px;
}